<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Service Info</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">App Service Info</h1>

      <hr />

      <div id="app">

        <h4 class="title is-4">Platform</h4>

        <div class="content">
          <dl>
            <dt>OS Version</dt>
            <dd>{{ platform.osVersion }}</dd>
            <dt>App Service Version</dt>
            <dd>{{ platform.appServiceVersion }}</dd>
            <dt>Kudu Version</dt>
            <dd>{{ platform.kuduVersion }}</dd>
            <dt>Processor Name</dt>
            <dd>{{ platform.processorName }}</dd>
            <dt>Last Reimage</dt>
            <dd>{{ new Date(platform.lastReimage)}}</dd>
            <dt>Current Stampname</dt>
            <dd>{{ platform.currentStampname }}</dd>
          </dl>
        </div>

        <hr />

        <h4 class="title is-4">Runtime</h4>

        <div class="content">
          <dl>
            <dt>.NET Framework</dt>
            <dd>
              <span v-for="item in runtime.dotnet">{{ item.version }}</span>
            </dd>
            <dt>.NET Core</dt>
            <dd>
              <span v-for="item in runtime.dotnetCore">{{ item.version }}</span>
            </dd>
            <dt>Java</dt>
            <dd>
              <span v-for="item in runtime.java">{{ item.version }}</span>
            </dd>
            <dt>Node.js</dt>
            <dd>
              <span v-for="item in runtime.node">{{ item.version }}</span>
            </dd>
            <dt>NPM</dt>
            <dd>
              <span v-for="item in runtime.npm">{{ item.version }}</span>
            </dd>
            <dt>PHP</dt>
            <dd>
              <span v-for="item in runtime.php">{{ item.version }}</span>
            </dd>
            <dt>Python</dt>
            <dd>
              <span v-for="item in runtime.python">{{ item.version }}</span>
            </dd>
          </dl>
        </div>
        <hr />

        <h4 class="title is-4">Miscellaneous</h4>

        <div class="content">
          <dl>
            <dt>Bower</dt>
            <dd>
              <span v-for="item in misc.bower">{{ item.version }}</span>
            </dd>
            <dt>Grunt</dt>
            <dd>
              <span v-for="item in misc.grunt">{{ item.version }}</span>
            </dd>
            <dt>Gulp</dt>
            <dd>
              <span v-for="item in misc.gulp">{{ item.version }}</span>
            </dd>
            <dt>F#</dt>
            <dd>
              <span v-for="item in misc.fsharp">{{ item.version }}</span>
            </dd>
            <dt>MySQL</dt>
            <dd>
              <span v-for="item in misc.mysql">{{ item.version }}</span>
            </dd>
            <dt>TypeScript</dt>
            <dd>
              <span v-for="item in misc.typeScript">{{ item.version }}</span>
            </dd>
          </dl>
        </div>

        <hr />

        <h4 class="title is-4">Site Extensions</h4>

        <div class="content">
          <dl>
            <dt>Pre installed</dt>
            <dd>
              <span v-for="item in siteextensions" :class="{ 'label-default': !item.enabled, 'label-primary': item.enabled }">{{ item.name }}</span>
            </dd>
          </dl>
        </div>
        <hr />

        <h4 class="title is-4">Swagger API</h4>

        <p>
          https://appservice.info/swagger/v1/swagger.json
        </p>

        <hr />

        <footer>
          <p>&copy; 2016-2018 @shibayan</p>
        </footer>
      </div>
    </div>
  </section>

  <a href="https://github.com/shibayan/appserviceinfo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        platform: {},
        runtime: {},
        misc: {},
        siteextensions: []
      },
      methods: {
        loadDefaults: function () {
          var self = this;

          axios.get("/api/platform").then(function (resp) { self.$set(self, "platform", resp.data); });
          axios.get("/api/runtime").then(function (resp) { self.$set(self, "runtime", resp.data); });
          axios.get("/api/misc").then(function (resp) { self.$set(self, "misc", resp.data); });
          axios.get("/api/siteextension").then(function (resp) { self.$set(self, "siteextensions", resp.data); });
        }
      },
      beforeMount: function () {
        this.loadDefaults();
      }
    });
  </script>
</body>
</html>