name: Deploy backend

on:
  push:
    branches: [ master ]
    paths:
      - .github/workflows/backend-deploy.yml
      - backend/**

env:
  DOTNET_VERSION: 10.0.x

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: dotnet publish
      run: dotnet publish ./backend/AppServiceInfo -c Release -r win-x86 --no-self-contained -o dist

    - name: Upload artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: backend
        path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: publish
    environment: production
    strategy:
      matrix:
        location: [japaneast, eastus2, centralus, eastasia, southeastasia, northeurope, westeurope, koreacentral, australiaeast, francecentral, uksouth, canadacentral, centralindia, uaenorth, eastus, westus3, brazilsouth, norwayeast, switzerlandnorth, israelcentral, japanwest]
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Azure Login
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
      with:
        client-id: ${{ vars.AZURE_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

    - name: Download artifact
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: backend
        path: dist

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6
      with:
        app-name: app-graffias-${{ matrix.location }}
        package: dist