name: Build backend

on:
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows/backend-build.yml
      - backend/**

env:
  DOTNET_VERSION: 10.0.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build project
      run: dotnet build ./backend -c Release

    - name: Lint C# code
      run: dotnet format ./backend --verify-no-changes --verbosity detailed --no-restore