name: Build backend

on:
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows/backend-build.yml
      - backend/**

env:
  DOTNET_VERSION: 10.0.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build project
      run: dotnet build ./backend -c Release

    - name: Lint C# code
      run: dotnet format ./backend --verify-no-changes --verbosity detailed --no-restore