name: Build backend

on:
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows/backend-build.yml
      - backend/**

env:
  DOTNET_VERSION: 10.0.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Use .NET ${{ env.DOTNET_VERSION }}
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build project
      run: dotnet build ./backend -c Release

    - name: Lint C# code
      run: dotnet format ./backend --verify-no-changes --verbosity detailed --no-restore