name: Build frontend

on:
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows/frontend-build.yml
      - frontend/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Setup Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version-file: frontend/package.json
        cache: npm
        cache-dependency-path: frontend/package-lock.json

    - name: npm ci and build
      run: |
        npm ci --prefix frontend
        npm run build --prefix frontend