name: Deploy frontend

on:
  push:
    branches: [ master ]
    paths:
      - .github/workflows/frontend-deploy.yml
      - frontend/**

env:
  NODE_VERSION: 22.x

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version-file: frontend/package.json
        cache: npm
        cache-dependency-path: frontend/package-lock.json

    - name: npm ci and build
      run: |
        npm ci --prefix frontend
        npm run build --prefix frontend -- --outDir ../dist --emptyOutDir

    - name: Upload artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: frontend
        path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: publish
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Azure Login
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
      with:
        client-id: ${{ vars.AZURE_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

    - name: Download artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: frontend
        path: dist

    - name: Cache SWA CLI
      id: cache-swa-cli
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: swa-${{ runner.arch }}-${{ runner.os }}
        path: |
          ~/.swa
          /usr/local/bin/swa
          /usr/local/lib/node_modules/@azure/static-web-apps-cli

    - name: Install SWA CLI
      if: steps.cache-swa-cli.outputs.cache-hit != 'true'
      run: npm install -g @azure/static-web-apps-cli

    - name: Deploy to Static Web App
      run: swa deploy ./dist/ --env production --app-name stapp-graffias --no-use-keychain